{
  "parser": "babel-eslint",
  "env": {
    "browser": true
  },
  "plugins": [
    "react"
  ],
  "extends": [
    "airbnb"
  ],
  "rules": {
    "semi": "off",
    "no-extra-semi": "warn"
  },
  "settings": {
    "react": {
      "version": "16",
      "parserOptions": {
        "ecmaFeatures": {
          "jsx": true
        }
      }
    }
  }
}
